p.yupError {
	color: red;
	font-size: 11px;
}
.project-form {
	padding: 20px;
	background-color: #ddd;
	margin: 10px 0px;
	form {
		.field {
			display: flex;
			justify-content: space-between;
			span {
				width: 30%;
			}
			.show {
				display: flex;
				flex-direction: column;
				width: 80%;
			}
			input {
				line-height: 26px;
				margin-left: 10px;
				padding: 3px;
				// width: 100%;
			}
			select {
				height: 38px;
				margin-left: 10px;
			}
			textarea {
				line-height: 26px;
				padding: 5px;
				margin-left: 10px;
			}

			.twoField {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.subfield {
				display: flex;
			}
		}
	}
}
.btn {
	padding: 10px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	button {
		color: #fff;
		margin-right: 10px;
		border-radius: 3px;
		border: #fff;
		background-color: blue;
		padding: 6px 14px;
		font-size: 15px;
		letter-spacing: 1px;
		transition: 0.5s ease;
		font-weight: 500;
		&:hover {
			background-color: #fff;
			color: blue;
			border: blue;
		}
	}
}

.search {
	margin: 6px 0px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.crudBtns {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #ddd;
	padding: 12px;
	button.yes {
		background-color: red;
		color: #fff;
		padding: 4px 14px;
		outline: none;
		border: 2px solid red;
		border-radius: 3px;
		font-size: 16px;
		&:hover {
			background-color: #fff;
			color: red;
		}
	}

	button.no {
		padding: 4px 14px;
		outline: none;
		border-radius: 3px;
		font-size: 16px;
		border: 2px solid #ddd;
		&:hover {
			background-color: #fff;
			color: red;
		}
	}
}
